.marquee-container {
  overflow: hidden;
  background-color: #243553;
  padding: 24px 0;
}

.marquee {
  display: flex;
  gap: 6rem;
  width: max-content;
  animation: marquee linear infinite;
}

/* Using CSS variable for accurate translate */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--marquee-width) * -1));
  }
}

.icon-item {
  width:  70px;
  height: 70px;
  border-radius: 9999px;
}
